{% extends "layout.html" %}

{% block title %}
    Post
{% endblock %}

{% block main %}
    <form action="/post" method="post">
        <div class="mb-3">
            <div class="mb-3">
                <input required autofocus class="form-control mx-auto w-auto" name="event" placeholder="Event" type="text">
            </div>
            <div class="mb-3">
                <input required class="form-control mx-auto w-auto" name="date" placeholder="Date" type="date">
            </div>
            <div class="mb-3">
                <input required class="form-control mx-auto w-auto" name="people" placeholder="Number of People" type="number">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Post</button>
    </form>
{% endblock %}