{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block main %}
    <form action="/signup" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="event">
                <option disabled selected value = "" >Event</option>
                {% for event in open %}
                    <option value = "{{ event.name }}">{{ event.name }} {{event.date}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
